@font-face {
    font-family: Satoshi;
    src: url(../../../public/Satoshi-Regular.otf);
}

@font-face {
    font-family: Satoshi-medium;
    src: url(../../../public/Satoshi-Medium.otf);
}

.home-main-section {
    text-align: center;
    margin: 8rem 4rem 19rem;
}

.home-main-section1 {
    text-align: center;
    margin: 14rem 4rem;
    display: none;
}

.home-main-heading {
    font-family: Satoshi-medium;
    font-size: calc(3rem + 2.5vw);
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    color: #33353A;
    margin: 0px;
}

.video-container {
    width: 260px;
    height: 100px;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
}

.video {
    width: 100%;
    height: auto;
    display: block;
}

.video4 {
    width: 100%;
    height: auto;
    display: block;
}

.home-heading-video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -6rem;
}

.home-heading-video h2 {
    margin-left: 1rem;
}

.home-section-para {
    width: 60%;
    margin: 1.5rem auto 0;
    font-family: Satoshi;
    font-size: calc(0.7rem + 0.7vw);
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.24px;
}

.video1 {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* Optionally, you can hide controls */
.video1::-webkit-media-controls,
.video4::-webkit-media-controls {
    display: none;
}

.video1::-webkit-media-controls-enclosure,
.video4::-webkit-media-controls-enclosure {
    display: none;
}

.video1::-webkit-media-controls-panel,
.video4::-webkit-media-controls-panel {
    display: none;
}

/**       heading  Scrolling         */
.scroll-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    margin: 15rem 0px 0rem;
}

.scroll-text {
    display: flex;
    animation: scroll1 60s linear infinite;
    width: 500%;
}

@keyframes scroll1 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.vishesh-scroll-heading {
    color: #444444;
    font-family: Satoshi-medium;
    font-size: calc(4rem + 6vw);
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin: 0;
}

.heading-scroll-img {
    width: 8rem;
    margin-top: -3rem;
}

.team-scroll-heading {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 40px;
    font-size: 68px;
    flex-shrink: 0;
    margin: 0px;
}

.heading-scroll-img1 {
    width: 3rem;
    margin-top: 2vh;
    opacity: 90%;
}

.scroll-container1 {
    width: 92%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    margin: 2rem 4rem;
}

.scroll-text2 {
    display: flex;
    animation: scroll2 60s linear infinite;
    width: 500%;
}


@keyframes scroll2 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.team-heading-sections {
    margin: 15rem 0rem 0rem;
}


/* Responsive media queries */
@media only screen and (max-width: 1700px) {
    .home-section-para {
        width: 82%;
    }
}

@media only screen and (max-width: 1200px) {
    .home-heading-video {
        margin-left: 0rem;
        margin-top: 1rem;
    }

    .home-main-heading {
        font-size: calc(2rem + 2vw);
    }

    .video-container {
        width: 238px;
        height: 100px;
    }

    .video-container4 {
        width: 238px;
        height: 100px;
    }
}

@media only screen and (max-width: 1040px) {
    .home-main-section {
        margin: 14.5rem 0rem;
    }

    .scroll-container {
        margin: 8rem 0px;
    }

    .scroll-container1 {
        width: 86%;
    }

}

@media only screen and (max-width: 800px) {
    .home-main-heading {
        font-size: calc(1.8rem + 2vw);
    }

    .video-container {
        width: 200px;
        height: 80px;
    }

    .video-container4 {
        width: 200px;
        height: 80px;
    }

    .scroll-container {
        margin: 6rem 0px;
    }
}

@media only screen and (max-width: 650px) {
    .home-main-heading {
        font-size: calc(1.65rem + 1.85vw);
    }

    .video-container {
        width: 200px;
        height: 80px;
    }

    .video-container4 {
        width: 200px;
        height: 80px;
    }
}

@media only screen and (max-width: 600px) {
    .home-main-section {
        display: none;
    }

    .home-main-section1 {
        display: block;
    }

    .home-main-section1 {
        margin: 3rem 0rem;
    }

    .video1 {
        height: 30vh;
    }
}

@media only screen and (max-width: 500px) {
    .vishesh-scroll-heading {
        font-size: calc(2rem + 2vw);
        margin: 0px;
    }

    .heading-scroll-img {
        width: 1.6rem;
        margin-top: -0.8vh;
    }

    .scroll-container1 {
        width: 90%;
        margin: 2rem 1rem;
    }

    .team-scroll-heading {
        font-size: 22px;
        gap: 20px;
    }

    .heading-scroll-img1 {
        width: 1rem;
        margin-top: 0.2vh;
    }
    .home-section-para {
        font-size: calc(1.2rem + 0.7vw);
    }
}


