@font-face {
    font-family: Satoshi-light;
    src: url(../../../../public/Satoshi-Light.otf);
}

@font-face {
    font-family: Satoshi;
    src: url(../../../../public/Satoshi-Regular.otf);
}

@font-face {
    font-family: Satoshi-med;
    src: url(../../../../public/Satoshi-Medium.otf);
}


.CEOProfileContainer{
    /* border: 1px solid; */
    /* width: 1408px; */
    width: 100%;
    height: 500px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid var(--Neutral-900, #C1C3C7);
    overflow: hidden;
    background-color: transparent;
    
    
}

.CEOImageContainer{
    border: 0px solid;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    
}

.CEOInfoContainer{
    border: 0px solid;
    height: 100%;
    padding: 100px 0px;
    background-image: url(../../../assets/AboutPage/CEOBacground.png) ;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.CEOInfoContainer div{
    background-color: transparent;
}
.CEOPhoto{
    filter: grayscale();
    transition: 0.3s;
}
.CEOProfileContainer:hover .CEOPhoto{
    filter:none;
}


.CEOName{
    color: var(--text-icon-light-heading, #131A27);
    /* Headings/H5/Medium */
    font-family: Satoshi-med;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 57.6px */
    background-color: transparent;
}

.CEOQualification{
    color: var(--text-icon-light-body, #33353A);
    /* Body/Text/Regular */
    font-family: Satoshi;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: 0.24px;
    background-color: transparent;
}
.Founder{
    color: var(--text-icon-light-body, #33353A);

    /* Body/Text/Regular */
    font-family: Satoshi-med;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: 0.24px;
    margin-bottom: 62px;
    background-color: transparent;
}
.QuatationsSym{
    background-color: transparent;
}

.CEODesciption{
    color: var(--text-icon-light-body, #33353A);
    /* Body/Text/Regular */
    font-family: Satoshi;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: 0.24px;
    background-color: transparent !important;
    /* width: 614px; */
    width: 70%;

}