.TextToggle-container {
  display: flex;
  justify-content: space-around;
  max-width: 90%; /* Adjusted to occupy full width */
  margin: 0 auto; /* Center the container */
}

.TextToggle-Inside {
  display: block;
  flex-wrap: wrap; /* Allowing items to wrap when there's not enough space */
  justify-content: center !important;
  align-items: center !important;
  max-width: 70%; /* Make sure it occupies the available width */
}
.TextToggle-Inside > p{
  text-align: center;
}
.team {
  padding: 10px;
  cursor: pointer;
  color: #8f8f8f;
}

.team.active {
  color: black; /* Highlight active text */
}

.content {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.underline-container {
  width: 100%;
  display: flex;
  justify-content: center; /* Aligning underline in the center horizontally */
  align-items: center; /* Aligning underline in the center vertically */
}

.underline {
  border-bottom: 2px solid #999;
  flex-grow: 1; /* Allow the underline to grow */
  max-width: 90%; /* Ensure the underline spans the entire width */
}

.underline.active {
  border-bottom-color: #000;
}

@media screen and (max-width: 768px) {
  .TextToggle-container {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center; /* Center items horizontally */
  }

  .underline-container {
    margin-top: 20px; /* Add margin to separate underline from text */
  }

  .underline {
    max-width: 90%; /* Adjusted max-width for smaller screens */
  }
}

@media screen and (max-width: 576px) {
  .TextToggle-container {
    padding: 0 10px; /* Adjusted padding for smaller screens */
  }

  .underline {
    max-width: 80%; /* Further reduced max-width for smaller screens */
  }
}
