@font-face {
    font-family: Satoshi-light;
    src: url(../../../../public/Satoshi-Light.otf);
}

@font-face {
    font-family: Satoshi;
    src: url(../../../../public/Satoshi-Regular.otf);
}

@font-face {
    font-family: Satoshi-med;
    src: url(../../../../public/Satoshi-Medium.otf);
}


.ContactHeader-container{

 padding: 0% 3.2%;
    padding-top: 231px;
    overflow: hidden;
}

.ContactHeader-h3{

    position: relative;
    width: 90%;
    padding-left: 0px;
}