.accordion-item {
    border: none;
    background: var(--Grey-800, #1D2939);
}

.accordion {
    margin: 0 auto;
    max-width: 1408px;
    border-radius: 25px;
    margin: 79px 108px 79px 107px;
    font-family: Satoshi;
    background: var(--Grey-800, #1D2939);
}

.accordion .accordion-item {
    background: var(--Grey-800, #1D2939);
    padding: 1em;
    border-radius: 24px 24px 0px 0px;
    border-top: 1px solid var(--text-icon-dark-heading, #FCFCFC);
    background: var(--Grey-800, #1D2939);
    transition: height 0.25s ease; /* Added transition property */
}

.accordion-item-content {
    background-color: var(--Grey-800, #1D2939);
    margin-top: 1.5rem;
    color: #FAFBFC;
    height: 0; /* Initially hide content */
    overflow: hidden;
    transition: height 0.55s ease; /* Added transition property */
}

.accordion:hover .accordion-item:hover {
    background-color: #1D2939;
}

.accordion:hover .accordion-item:hover .accordion-item-content,
.accordion .accordion-item--default .accordion-item-content {
    height: 3em;
}

div.accordion-flex {
    background-color: #1D2939;
}

.accordion-flex {
    display: flex;
    justify-content: space-between;
}

.accordion-flex h4 {
    background-color: var(--Grey-800, #1D2939);
    color: var(--text-icon-dark-heading, #FCFCFC);
    /* Headings/H4/Medium */
    font-family: Satoshi;
    font-size: calc(5.714vw + 24px); /* Responsive font size using calc() */
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 81.6px */
    margin-bottom: 0;
}

