@font-face {
    font-family: Satoshi-light;
    src: url(../../../../public/Satoshi-Light.otf);
}

@font-face {
    font-family: Satoshi;
    src: url(../../../../public/Satoshi-Regular.otf);
}

@font-face {
    font-family: Satoshi-medium;
    src: url(../../../../public/Satoshi-Medium.otf);
}

.our-services-section {
    margin: 12rem 4rem;
}

.services-heading {
    color: #33353A;
    font-family: Satoshi-medium;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin: 0px;
}

.services-container {
    display: flex;
    gap: 8rem;
    align-items: center;
    margin-left: 5rem;
}

.video-container1 {
    width: 550px;
    height: 400px;
    margin-top: 2rem;
}

.video-container2 {
    width: 100%;
    margin-top: 2rem;
    display: none;
}

/* Optionally, you can hide controls */
.service-video::-webkit-media-controls,
.service-video2::-webkit-media-controls {
    display: none;
}

.service-video::-webkit-media-controls-enclosure,
.service-video2::-webkit-media-controls-enclosure {
    display: none;
}

.service-video::-webkit-media-controls-panel,
.service-video2::-webkit-media-controls-panel {
    display: none;
}

.service-video {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

.text-container {
    flex: 1;
}

.services-hr {
    width: 61.2%;
    margin-left: auto;
    margin-right: 0;
}

.service-team-heading {
    color: #131A27;
    font-family: Satoshi-medium;
    font-size: calc(3rem + 2.1vh);
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin: 0px;
}

.service-team-text {
    color: #33353A;
    font-family: Satoshi;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.2px;
}

.services-container:hover .service-video {
    display: block;
}

.service-video {
    width: 100%;
    height: auto;
    border-radius: 25px;
    display: none;
}

.service-video2 {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

.services-btn-container {
    text-align: right;
    margin-top: 3rem;
}

.services-btn {
    position: relative;
    overflow: hidden;
    border-radius: 28px;
    border: 1px solid #131A27;
    padding: 32px 40px 34px 40px;
    color: #131A27;
    font-family: Satoshi;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.26px;
    cursor: pointer;
}

.services-btn::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F5A091;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.3s ease;
    z-index: -1;
}

.services-btn:hover {
    border-color: transparent;
    color: #fff;
    z-index: 1000;
}

.services-btn:hover::before {
    transform: scaleY(1);
}

/* Responsive media queries */
@media only screen and (min-width: 2000px) {
    .video-container1 {
        width: 650px;
        height: 400px;
    }
}

@media only screen and (min-width: 2300px) {
    .video-container1 {
        width: 750px;
        height: 450px;
    }
}

@media only screen and (max-width: 1718px) {
    .service-team-heading {
        font-size: calc(2rem + 2vh);
    }
}

@media only screen and (max-width: 1600px) {
    .services-container {
        margin-left: 2rem;
    }

    .services-hr {
        width: 55%;
    }

    .video-container1 {
        width: 480px;
        height: 300px;
    }

    .service-team-heading {
        font-size: calc(1.5rem + 1.5vh);
    }
}

@media only screen and (max-width: 1400px) {
    .services-container {
        margin-left: 0rem;
        gap: 5rem;
    }
}

@media only screen and (max-width: 1175px) {
    .services-container {
        margin-left: 0rem;
        gap: 5rem;
    }

    .services-hr {
        width: 60%;
    }

    .video-container1 {
        width: 350px;
        height: 250px;
    }
}

@media only screen and (max-width: 1040px) {
    .services-hr {
        width: 52%;
    }

    .video-container1 {
        width: 320px;
        height: 250px;
    }

    .service-team-heading {
        font-size: calc(1.2rem + 1.2vh);
    }

    .our-services-section {
        margin: 10rem 2rem;
    }

    .services-btn {
        padding: 25px 33px 27px 33px;
        font-size: large;
    }
}

@media only screen and (max-width: 900px) {
    .video-container1 {
        width: 270px;
        height: 220px;
    }
}

@media only screen and (max-width: 800px) {
    .services-hr {
        width: 55%;
    }

    .video-container1 {
        width: 270px;
        height: 220px;
    }

    .service-team-heading {
        font-size: calc(1.2rem + 1vh);
    }

    .our-services-section {
        margin: 8rem 1rem;
    }
}

@media only screen and (max-width: 750px) {
    .video-container1 {
        display: none;
    }

    .video-container2 {
        display: block;
    }

    .services-hr {
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 650px) {
    .services-btn {
        padding: 20px 28px 22px 28px;
    }
}