@font-face {
    font-family: Satoshi;
    src: url(../../../public/Satoshi-Regular.otf);
}

@font-face {
    font-family: Satoshi-medium;
    src: url(../../../public/Satoshi-Medium.otf);
}

.main-heading {
    font-family: Satoshi;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 2rem auto 2.5rem;
}

.main-logo {
    width: 450px;
}

.header-section, .header-section1 {
    text-align: center;
    display: flex;
    justify-content: center;
}

.nav-items-section {
    display: flex;
    gap: 4.5vh;
    border-radius: 48px;
    opacity: 0.95;
    background: #181818;
    backdrop-filter: blur(150px);
    color: #fff;
    padding: 2rem 3.5rem;
    position: fixed;
    bottom: 2.5%;
    z-index: 1000;
}
.nav-items-section1 {
    border-radius: 48px;
    opacity: 0.95;
    background: #181818;
    backdrop-filter: blur(150px);
    padding: 1.3rem 3.5rem;
    position: fixed;
    bottom: 2.5%;
    z-index: 1000;
}
.nav-items-section2 {
    display: flex;
    gap: 12%;
    opacity: 0.95;
    background-color: #181818;
    backdrop-filter: blur(150px);
    color: #fff;
}

.nav-items {
    background-color: transparent;
    cursor: pointer;
    font-family: Satoshi;
    font-size: 1.4rem;
    font-weight: 100;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .5s;
}

.main-heading1 {
    display: none;
}

.main-heading1.scrolled {
    position: fixed;
    display: block;
    top: 3%;
    left: 4%;
    z-index: 1000;
    background-color: transparent;
}

.main-logo1 {
    width: 103px;
    background-color: transparent;
}

/* Add a dot style for the active link */
.active {
    position: relative;
}

.active::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%);
    width: 7px;
    height: 7px;
    background-color: #fff;
    border-radius: 50%;
    display: block;
}

.header-section1{
    display: none;
}

/* Responsive media queries */
@media only screen and (max-width: 1100px) {
    .nav-items-section {
        bottom: 1.5%;
        padding: 2.2rem 3.5rem;
        border-radius: 100px;
        gap: 2vh;
    }
}

@media only screen and (max-width: 550px) {
    .nav-items-section {
        bottom: 1.5%;
        padding: 2.2rem 2.5rem;
        border-radius: 100px;
        gap: 2vh;
    }
    .main-logo1 {
        width: 80px;
    }
}
@media only screen and (max-width: 500px) {
    .header-section {
        display: none;
    }

    .nav-items-section1 {
        width: 80%;
        overflow: hidden;
    }
    .header-section1 {
        position: relative;
        display: flex;
    } 

    .nav-items{
        font-size: 16px;
    }
    .main-logo1 {
        width: 60px;
    }

    .main-logo {
        width: 350px;
    }
}

@media only screen and (max-width: 410px) {
    .main-logo {
        width: 280px;
    }
}