@font-face {
    font-family: Satoshi;
    src: url(../../../../public/Satoshi-Regular.otf);
}

@font-face {
    font-family: Satoshi-medium;
    src: url(../../../../public/Satoshi-Medium.otf);
}

.slider {
    overflow: hidden;
    margin: 15rem 5rem 0rem;
}

.logos-heading {
    color: #33353A;
    font-family: Satoshi-medium;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 5rem;
}

.slide-track {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    animation: scroll 20s linear infinite;
}

.slide {
    flex-shrink: 0;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 9));
    }
}