.slider {
    overflow: hidden;
    margin: 0px 5rem;
}

.slide-track {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    animation: scroll 20s linear infinite;
}

.slide {
    flex-shrink: 0;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 9));
    }
}