@font-face {
    font-family: Satoshi-light;
    src: url(../../../../public/Satoshi-Light.otf);
}

@font-face {
    font-family: Satoshi;
    src: url(../../../../public/Satoshi-Regular.otf);
}

@font-face {
    font-family: Satoshi-medium;
    src: url(../../../../public/Satoshi-Medium.otf);
}

.home-projects-section {
    margin: 15rem 4rem 0rem;
}

.home-project-heading {
    color: #131A27;
    font-family: Satoshi;
    font-size: 68px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.home-project-text {
    color: #344054;
    font-family: Satoshi;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.24px;
}

.home-feature-projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
}

.home-project1,
.home-project2,
.home-project3,
.home-project4 {
    width: 50%;
    height: 680px;
    flex-shrink: 0;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.home-project1 {
    background: linear-gradient(2deg, rgba(0, 0, 0, 0.20) 19.87%, rgba(0, 0, 0, 0.04) 39.98%), #ABAEDB;
    justify-content: flex-end;
}

.home-project2 {
    background-image: url('../../../assets/HomePage/FeaturedProject2.png');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: flex-end;
}

.home-project3 {
    background-image: url('../../../assets/HomePage/FeaturedProject3.png');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: flex-end;
}

.home-project4 {
    border: 1px solid #667085;
    justify-content: center;
    cursor: pointer;
}

.home-project-img1 {
    background-color: transparent;
}

.home-project-techs {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

.home-project-head1 {
    color: #FCFCFC;
    font-family: Satoshi;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    background-color: transparent;
}

.home-project-btn {
    padding: 10px 20px;
    color: #FCFCFC;
    font-family: Satoshi-light;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.5px;
    border-radius: 60px;
    border: 1px solid #FCFCFC;
    background-color: transparent;
    cursor: default;
    margin: 0.5rem;
}

.home-project-btn:hover {
    background-color: transparent;
    border-color: #FCFCFC;
    cursor: default;
}

.view-all-projects-h5 {
    color: #131A27;
    font-family: Satoshi-medium;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-top: 3rem;
}

/* Responsive media queries */
@media only screen and (max-width: 1020px) {}

@media only screen and (max-width: 800px) {
    .home-projects-section {
        margin: 15rem 2rem 0rem;
    }

    .home-feature-projects {
        display: block;
        margin: 0rem;
    }

    .home-project1,
    .home-project2,
    .home-project3 {
        width: 100%;
        margin-top: 2rem;
    }
}